// colors
$color-disabled: #808080;
$color-error: #f00;
$color-header-background: #808080;
$color-highlight: #CC5C24;
$color-table-header-background: black;
$color-table-row-odd: #D3D3D3;

// buttons
$btn-primary-bg: #03A9F4;  // overrides bootstrap btn-primary color
